<!DOCTYPE html>
<html lang="en">

	<head>	
		<h1 class= "text-center">Welcome to PositiveTracker!</h1>
	</head>
	
	<body>
		<section class="text-center">
			<% if current_user %>

			<button type="button" class="btn btn-danger btn"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></button>
			
			<button type="button" class="btn btn-secondary btn"><%= link_to 'Start!', controller: 'activities' %></button>

			<% else %>

			<button type="button" class="btn btn-secondary btn"><%= link_to 'Sign up', new_user_registration_path %>
			</button>

			
			<button type="button" class="btn btn-secondary">
			<%= link_to 'Log in', new_user_session_path %></button>

			<% end %>
		</section>
	</body>

</html>