<h1  class="text-center">Add a new Activity</h1>

<%= render 'form' %>

<div class = "text-center">
	<button type="button" class="btn btn-danger"> <%= link_to 'Back', activities_path %> </button>
</div>